---
title: {{meta.name}}
rules:
{%- filter indent(4) %}
{% include 'templates/inc/fn_arrow.j2' %}
{% include 'templates/inc/space_cadet_shift.j2' %}
{% include 'templates/inc/space_alt.j2' %}
{% include 'templates/inc/autoshift.j2' %}
{%- endfilter -%}
