- description: swap backslash and delete. hhkb like.
  manipulators:
    - type: basic
      from:
          key_code: 'delete_or_backspace'
          modifiers:
              optional:
                  - any
      to:
          - key_code: 'backslash'

    - type: basic
      from:
          key_code: 'backslash'
          modifiers:
              optional:
                  - any
      to:
          - key_code: 'delete_or_backspace'
