- description: space as alt if hold
  manipulators:
    - type: basic
      from:
        key_code: 'spacebar'
        modifiers:
            optional:
                  - any
      to_if_alone:
          - key_code: 'spacebar'

      to_if_held_down:
          - key_code: 'left_alt'

      to_delayed_action:
          to_if_canceled:
              - key_code: 'left_alt'
